@charset "utf-8";
/* CSS Document */

body {
	color: rgba(92,92,92,1.00);
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.wrapper {
	max-width: 1260px;
	text-indent: 1em;
	padding-top: 2em;
	width: 90vw;
	margin: 0 auto;
}
#grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
}
#grid > figure {
	width: 200px;
	margin: 0;
	background: rgba(91,139,184,1.00);
	border-radius: 8px;
	justify-self: center;
}
figure > img {
	width: 100%;
	display: block;
	margin: 0 auto;
}
figcaption {
	font-size: 1.5em;
	background: rgba(203,105,155,1.00);
	color: whitesmoke;
	border-radius: 0 0 8px 8px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.wrapper > div:last-of-type {
	padding: 0.5em;
	font-size: 1.08em;
	text-align: justify;
}

@media screen and (max-width: 1199px) {
#grid {
	grid-template-columns: repeat(4, 1fr)
}
}

@media screen and (max-width: 1024px) {
#grid {
	grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 750px) {
#grid {
	grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 520px) {
#grid {
	grid-template-columns: 1fr;
}
}